// * Vue transition */
.popup-fade-enter-active {
    animation: slideUp 0.3s ease forwards;
}

.popup-fade-leave-active {
    animation: slideDown 0.3s ease forwards;
}

@keyframes slideUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Add a reusable class for the animation */
.fade-in {
    animation: slideUp 0.3s ease-in-out;
}
