.button-container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row button {
    flex: 1;
}

.copy-success-message {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: rgba(59, 252, 20, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    animation: slideIn 0.5s forwards;
    z-index: 1000;
}

.enter-code-success {
    position: fixed;
    top: 30%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: rgba(59, 252, 20, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    animation: slideIn 0.5s forwards;
    z-index: 1000;
}

.container-game {
    position: relative;
}

.container-info {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.wrap-score {
    margin: 5px;
}

.wrap-username {
    margin: 5px;
}

.popup-cooming-soon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s forwards;
    border-radius: 10px;
}

.popup-cooming-soon p {
    color: black;
}

.closing-popup {
    animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.invisible {
    visibility: hidden;
}

.full-width {
    width: 100%;
}

.container {
    width: 384px;
    position: relative;
}

.wOne3rd {
    width: 33.333333%;
}

.w50 {
    width: 50%;
}

.absolute-training-btn {
    position: absolute;
    top: 40%;
    width: 384px;
    padding: 10px;
    background-color: rgba(11, 92, 197, 0.24);
    border: none;
    font-style: italic;
}

.absolute-training-btn:hover {
    background-color: rgba(11, 92, 197, 0.589);
    color: white;
    font-weight: 1.2em;
}

.btn-close-coming-soon {
    padding: 10px;
    font-size: 13px;
    width: auto;
    margin: 0 auto;
}

.wrap-commit_reward {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: #67bdef;
    padding: 15px;
    border-radius: 20px;
    overflow: hidden;
}

.btn-commit_reward:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.wrap-commit_reward .box-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap-commit_reward .box-left {
    text-shadow: 2px 2px 0 #9f8900, -2px -2px 0 #9f8900, 2px -2px 0 #9f8900,
        -2px 2px 0 #9f8900, 2px 0 0 #9f8900, -2px 0 0 #9f8900, 0 2px 0 #9f8900,
        0 -2px 0 #9f8900;
}

.wrap-commit_reward .box-right {
    text-shadow: 2px 2px 0 #9f8900, -2px -2px 0 #9f8900, 2px -2px 0 #9f8900,
        -2px 2px 0 #9f8900, 2px 0 0 #9f8900, -2px 0 0 #9f8900, 0 2px 0 #9f8900,
        0 -2px 0 #9f8900;
}

.box-left .content {
    font-size: 12px;
}

.wrap-score {
    width: 70%;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
}

.wrap-score::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #67bdef; */
    filter: blur(20px);
    z-index: -1;
    border-radius: 30%;
}

.wrap-score .content {
    text-align: center;
    text-shadow: 2px 2px 0 #9f8900, -2px -2px 0 #9f8900, 2px -2px 0 #9f8900,
        -2px 2px 0 #9f8900, 2px 0 0 #9f8900, -2px 0 0 #9f8900, 0 2px 0 #9f8900,
        0 -2px 0 #9f8900;
}

.wrap-score .content img {
    width: 45px;
}

.content .score {
    font-size: 28px;
}

.btn-commit_reward {
    border-radius: 20px;
    border: none;
    width: auto;
}

.wrap-commit_reward::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #8080806b;
    z-index: 1;
}

.wrap-commit_reward::before {
    bottom: 0;
    content: "";
    background: linear-gradient(to right, #8b910f, #fcea78);
    height: 8px;
    position: absolute;
    left: 0;
    z-index: 2;
    width: var(--pseudo-width);
}

.box-info {
    margin-bottom: 5px;
}

.box-left-train {
    font-size: 10px;
    align-items: center;
    display: flex;
}

.box-left-train img {
    width: 20px;
}

.icon-home {
    width: 15px;
}

.popup-referer-code {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s forwards;
    border-radius: 10px;
    color: black;
}

.referer-code {
    text-align: center;
}

.text-err-code {
    color: red;
    font-size: 12px;
    position: absolute;
}

.code-input {
    margin-top: 20px;
    padding: 5px;
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
    outline: none;
}

.code-input:focus {
    border-color: #66afe9;
    outline: none;
}

.input-error {
    border-color: red;
    animation: pulse 1s infinite;
}

.btn-submit-code {
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
