.btn-login {
    /* margin-bottom: 10px; */
}

.button-container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row button {
    flex: 1;
    /* margin: 5px; */
}

.copy-success-message {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.container-game {
    position: relative;
}

.container-info {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.wrap-score {
    margin: 5px;
}

.wrap-username {
    margin: 5px;
}

.popup-cooming-soon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s forwards;
}

.popup-cooming-soon p {
    color: black;
}

.closing-popup {
    animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.invisible {
    visibility: hidden;
}

.full-width {
    width: 100%;
}

.container {
    width: 384px;
    height: 490px;
    position: relative;
}

.wOne3rd {
    width: 33.333333%;
}

.w50 {
    width: 50%;
}

.absolute-training-btn {
    position: absolute;
    top: 40%;
    width: 384px;
    padding: 10px;
    background-color: rgba(11, 92, 197, 0.24);
    border: none;
    font-style: italic;
}

.absolute-training-btn:hover {
    background-color: rgba(11, 92, 197, 0.589);
    color: white;
    font-weight: 1.2em;
}

/* 
.commit_reward {
    position: absolute;
    margin-top: 30%;
} */