.box-button {
    display: flex;
    width: 94%;
    justify-content: center;
    /* background-color: #69769c; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    position: absolute;
    bottom: 2%;
    left: 3%;
    z-index: 9998;
    border-radius: 10px;
}

.container {
    width: 100%;
    /* max-width: 384px; */
    /* max-width: 430px; */
    position: relative;
}

.btn-item {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./../../public/assets/button-icons/bg-btn.png");
    background-position: center;
    background-size: 100% 100%;
}

.btn-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.btn-item.active {
    background-image: url("./../../public/assets/button-icons/bg-btn-active.png");
    z-index: 1000;
    margin-top: -5px;
}

.item-img img {
    width: 35px;
    height: 35px;
}

.item-img .active {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 25%;
    right: 50%;
    transform: translate(50%, -50%);
}

.item-title {
    font-weight: 800;
    font-size: 10px;
    color: #fff;
    text-shadow: 1px 1px 0 #9f8900, -1px -1px 0 #9f8900, 1px -1px 0 #9f8900,
        -1px 1px 0 #9f8900, 1px 0 0 #9f8900, -1px 0 0 #9f8900, 0 1px 0 #9f8900,
        0 -1px 0 #9f8900;
}

.item-title.active {
    position: absolute;
    bottom: 10%;
}

@media screen and (max-width: 360px) {
    .box-button .item-title {
        font-size: 8px;
    }
}

.booster {
    margin-top: -15px;
    background: #e29a36;
    /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
    justify-content: end;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 2px 2px 3px #ac772e, inset -2px -2px 3px #ac772e,
        inset -2px 2px 3px #ac772e, inset 2px -2px 3px #ac772e;
}

.booster .item-img img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 25%;
    left: 43%;
    transform: translate(-50%, -50%);
}

.booster .item-title {
    font-size: 14px;
}

/*  */

.copy-success-message {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: rgba(59, 252, 20, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    animation: slideIn 0.5s forwards;
    z-index: 1000;
}

.enter-code-success {
    position: fixed;
    top: 30%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: rgba(59, 252, 20, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    animation: slideIn 0.5s forwards;
    z-index: 1000;
}

.container-game {
    position: relative;
}

.closing-popup {
    animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.invisible {
    visibility: hidden;
}

.full-width {
    width: 100%;
}

.wOne3rd {
    width: 33.333333%;
}

.w50 {
    width: 50%;
}

.absolute-training-btn {
    position: absolute;
    top: 40%;
    width: 384px;
    padding: 10px;
    background-color: rgba(11, 92, 197, 0.24);
    border: none;
    font-style: italic;
}

.absolute-training-btn:hover {
    background-color: rgba(11, 92, 197, 0.589);
    color: white;
    font-weight: 1.2em;
}

.btn-close-coming-soon {
    padding: 10px;
    font-size: 13px;
    width: auto;
    margin: 0 auto;
    border-radius: 5px;
}

.contaner-balance {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap-commit_reward {
    /* position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 90%;
    background: rgb(0 31 63 / 40%);
    padding: 15px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.btn-commit_reward:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.wrap-commit_reward .box-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap-commit_reward .box-left {
    text-shadow: 1px 1px 0 #9f8900, -1px -1px 0 #9f8900, 1px -1px 0 #9f8900,
        -1px 1px 0 #9f8900, 1px 0 0 #9f8900, -1px 0 0 #9f8900, 0 1px 0 #9f8900,
        0 -1px 0 #9f8900;
}

.box-left .content {
    font-size: 12px;
}

.link-checkin {
    position: absolute;
    top: 3%;
    right: 2%;
}

.link-checkin a {
    color: #fff;
    text-decoration: none;
}

.link-checkin button {
    border: none;
    border-radius: 8px;
    font-size: 10px;
    padding: 10px;
}

.btn-commit_reward {
    border-radius: 10px;
    border: none;
    font-size: 10px;
    width: 108px;
    border-radius: 15px;
}

.wrap-commit_reward::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #8080806b;
    z-index: 1;
}

.wrap-commit_reward::before {
    top: 0;
    content: "";
    background: linear-gradient(to right, #8b910f, #fcea78);
    height: 8px;
    position: absolute;
    left: 0;
    z-index: 2;
    width: var(--pseudo-width);
}

.box-info {
    margin-top: 5px;
    gap: 10px;
}

.box-left-train {
    font-size: 11px;
    align-items: center;
    display: flex;
}

.box-left-train img {
    width: 18px;
    border-radius: 5px;
    margin-left: 3px;
}

.auto-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.box-woodwork img {
    width: 35px;
}

.woodwork-loader {
    width: 100%;
    height: 15px;
    border-radius: 15px;
    color: #ff5c00;
    border: 1px solid #69b7c2;
    position: relative;
    overflow: hidden;
}

.woodwork-loader::before {
    content: "";
    position: absolute;
    top: 0;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background-image: url("./../../public/assets/mining/back-run.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background: linear-gradient(90deg, transparent, #ff5c00); */
    /* background: #ff5c00; */
    /* animation: l6 20s infinite; */
    width: var(--pseudo-width);
}

@keyframes l6 {
    0% {
        inset: 0 100% 0 0;
    }
    100% {
        inset: 0;
    }
}

.runner {
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: url("./../../public/assets/mining/ball2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -12px;
    left: var(--pseudo-width);
    transition: left 0.5s ease-in-out;
}

@keyframes run {
    0% {
        left: 0;
    }
    100% {
        left: var(--pseudo-width);
    }
}

.btn-mining {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 800;
    border: none;
    font-size: 10px;
    width: 108px;
    letter-spacing: 0px;
    /* -webkit-text-stroke: 1px rgb(139, 129, 116); */
    background-image: url("./../../public/assets/mining/back-btn-mining.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.btn-mining img {
    width: 25px;
}

.btn-mining:hover {
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(229, 66, 10, 0.75);
    /* animation: gradientShift 4s ease-in-out infinite; */
}

.btn-mining.active {
    opacity: 0.5;
    cursor: not-allowed;
}

.rotateMining {
    animation: rotateMining 2s linear infinite;
}

@keyframes rotateMining {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.icon-home {
    width: 15px;
}

.popup-referer-code {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s forwards;
    border-radius: 10px;
    color: black;
}

.referer-code {
    text-align: center;
}

.text-err-code {
    color: red;
    font-size: 12px;
    position: absolute;
}

.code-input {
    margin-top: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
    outline: none;
}

.code-input:focus {
    border-color: #66afe9;
    outline: none;
}

.input-error {
    border-color: red;
    animation: pulse 1s infinite;
}

.btn-submit-code {
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-referer-code {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 1000;
    border-radius: 8px;
}

.fa-spinner {
    animation: fa-spin 2s infinite linear;
}

.wr-balance {
    display: flex;
    font-family: "BANGOPRO", sans-serif;
    gap: 3px;
    align-items: center;
    width: fit-content;
    padding: 5px 15px;
    margin: 0 auto;
    text-shadow: 1px 1px 0 #3b0000, -1px -1px 0 #3b0000, 1px -1px 0 #3b0000,
        -1px 1px 0 #3b0000, 1px 0 0 #3b0000, -1px 0 0 #3b0000, 0 1px 0 #3b0000,
        0 -1px 0 #3b0000;
}

.wr-balance .text-balance {
    transition: all 1s ease;
}
.wr-balance .animate-text {
    transform: scale(1.1);
}

.wr-balance img {
    width: 20px;
}

/* gr btn */
.hamburger-icon {
    position: absolute;
    z-index: 1;
    right: 0vw;
    z-index: 999;
    background: #222;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-menu{
    font-weight: 800;
    font-size: 12px;
}
#openmenu:checked ~ .hamburger-icon .title-menu {
    display: none;
}

#openmenu:checked ~ .hamburger-icon {
    background: none;
}

.hamburger-icon span {
    height: 2px;
    width: 20px;
    background-color: #eeff00;
    display: block;
    margin: 3px 0px 3px 0px;
    transition: 0.7s ease-in-out;
    transform: none;
}

#openmenu:checked ~ .menu-pane {
    right: -6vw;
    transform: translateX(-5vw);
    z-index: 998;
    width: fit-content;
    border-radius: 10px;
}

#openmenu:checked ~ .body-text {
    display: none;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
    transform: translate(0%, 175%) rotate(-45deg);
    background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
    transform: rotate(45deg);
    background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
    opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
    opacity: 0;
}

div.menu-pane {
    background-color: #222;
    position: absolute;
    transform: translateX(105vw);
    transform-origin: (0, 0);
    width: 100vw;
    height: 100%;
    transition: 0.6s ease-in-out;
}

.menu-pane p {
    color: #000000;
    font-size: 0.6em;
}

.menu-pane nav {
    padding: 25px 35px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.menu-links li,
a,
span {
    transition: 0.5s ease-in-out;
}

.menu-pane ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

.menu-pane li {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    font-size: 1em;
}

.menu-links li a {
    color: white;
    text-decoration: none;
}

.menu-links li:hover a {
    color: #ffab91;
}

input.hamburger-checkbox {
    z-index: 3;
    width: 1vw;
    opacity: 0;
    height: 1vh;
    position: absolute;
}
