.box-button {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #69769c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: absolute;
    bottom: 0;
}

.btn-item {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s ease;
    position: relative;
    /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: inset 2px 2px 3px #21305ad9, inset -2px -2px 3px #21305ad9,
        inset -2px 2px 3px #21305ad9, inset 2px -2px 3px #21305ad9; */
}

.btn-item:last-child {
    border-right: none;
}

.btn-item:hover {
    /* background-color: #e0e0e0; */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.btn-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 10%;
    width: 1px;
    background: linear-gradient(to bottom, transparent, #ccc, transparent);
}

.btn-item.active {
    background-color: #ffa53a;
    z-index: 1000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -5px;
}

.item-img img {
    width: 35px;
    height: 35px;
}

.item-title {
    font-size: 10px;
    color: #fff;
    text-shadow: 1px 1px 0 #9f8900, -1px -1px 0 #9f8900, 1px -1px 0 #9f8900,
        -1px 1px 0 #9f8900, 1px 0 0 #9f8900, -1px 0 0 #9f8900, 0 1px 0 #9f8900,
        0 -1px 0 #9f8900;
}

.booster {
    margin-top: -15px;
    background: #e29a36;
    /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
    justify-content: end;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 2px 2px 3px #ac772e, inset -2px -2px 3px #ac772e,
        inset -2px 2px 3px #ac772e, inset 2px -2px 3px #ac772e;
}

.booster .item-img img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 25%;
    left: 43%;
    transform: translate(-50%, -50%);
}

.booster .item-title {
    font-size: 14px;
}

/*  */

.copy-success-message {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: rgba(59, 252, 20, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    animation: slideIn 0.5s forwards;
    z-index: 1000;
}

.enter-code-success {
    position: fixed;
    top: 30%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: rgba(59, 252, 20, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    animation: slideIn 0.5s forwards;
    z-index: 1000;
}

.container-game {
    position: relative;
}

.container-info {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.wrap-score {
    margin: 5px;
}

.wrap-username {
    margin: 5px;
}

.popup-cooming-soon {
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s forwards;
    border-radius: 10px;
}

.popup-cooming-soon p {
    color: black;
}

.closing-popup {
    animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.invisible {
    visibility: hidden;
}

.full-width {
    width: 100%;
}

.container {
    width: 100%;
    position: relative;
}

.wOne3rd {
    width: 33.333333%;
}

.w50 {
    width: 50%;
}

.absolute-training-btn {
    position: absolute;
    top: 40%;
    width: 384px;
    padding: 10px;
    background-color: rgba(11, 92, 197, 0.24);
    border: none;
    font-style: italic;
}

.absolute-training-btn:hover {
    background-color: rgba(11, 92, 197, 0.589);
    color: white;
    font-weight: 1.2em;
}

.btn-close-coming-soon {
    padding: 10px;
    font-size: 13px;
    width: auto;
    margin: 0 auto;
    border-radius: 5px;
}

.wrap-commit_reward {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: rgb(0 31 63 / 40%);
    /* background: #1a1a1a; */
    padding: 15px;
    border-radius: 15px;
    overflow: hidden;
}

.btn-commit_reward:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.wrap-commit_reward .box-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap-commit_reward .box-left {
    text-shadow: 1px 1px 0 #9f8900, -1px -1px 0 #9f8900, 1px -1px 0 #9f8900,
        -1px 1px 0 #9f8900, 1px 0 0 #9f8900, -1px 0 0 #9f8900, 0 1px 0 #9f8900,
        0 -1px 0 #9f8900;
}

/* .wrap-commit_reward .box-right {
    text-shadow: 2px 2px 0 #9f8900, -2px -2px 0 #9f8900, 2px -2px 0 #9f8900,
        -2px 2px 0 #9f8900, 2px 0 0 #9f8900, -2px 0 0 #9f8900, 0 2px 0 #9f8900,
        0 -2px 0 #9f8900;
} */

.box-left .content {
    font-size: 12px;
}

.link-checkin {
    position: absolute;
    top: 3%;
    right: 3%;
}

.link-checkin a {
    color: #fff;
    text-decoration: none;
}

.link-checkin button {
    border: none;
    border-radius: 8px;
    font-size: 10px;
    padding: 10px;
}

.wrap-score {
    width: 70%;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 30px; */
    border-radius: 10px;
}

.wrap-score .balance {
    /* transition: all 1s ease-in-out; */
    animation: counter 5s infinite alternate ease-in-out;
}

.wrap-score::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #67bdef; */
    filter: blur(20px);
    z-index: -1;
    border-radius: 30%;
}

.wrap-score .content {
    text-align: center;
    text-shadow: 1px 1px 0 #9f8900, -1px -1px 0 #9f8900, 1px -1px 0 #9f8900,
        -1px 1px 0 #9f8900, 1px 0 0 #9f8900, -1px 0 0 #9f8900, 0 1px 0 #9f8900,
        0 -1px 0 #9f8900;
}

.wrap-score .content img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.content .score {
    font-size: 28px;
}

.btn-commit_reward {
    border-radius: 10px;
    border: none;
    width: auto;
    font-size: 14px;
}

.wrap-commit_reward::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: #8080806b;
    z-index: 1;
}

.wrap-commit_reward::before {
    bottom: 0;
    content: "";
    background: linear-gradient(to right, #8b910f, #fcea78);
    height: 8px;
    position: absolute;
    left: 0;
    z-index: 2;
    width: var(--pseudo-width);
}

.box-info {
    margin-bottom: 5px;
}

.box-left-train {
    font-size: 10px;
    align-items: center;
    display: flex;
}

.box-left-train img {
    width: 20px;
    border-radius: 5px;
    margin-left: 3px;
}

.icon-home {
    width: 15px;
}

.popup-referer-code {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s forwards;
    border-radius: 10px;
    color: black;
}

.referer-code {
    text-align: center;
}

.text-err-code {
    color: red;
    font-size: 12px;
    position: absolute;
}

.code-input {
    margin-top: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
    outline: none;
}

.code-input:focus {
    border-color: #66afe9;
    outline: none;
}

.input-error {
    border-color: red;
    animation: pulse 1s infinite;
}

.btn-submit-code {
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-referer-code {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 1000;
    border-radius: 8px;
}
