@media (min-width: 320px) {
    .item-event,
    .banner-event {
        height: 115px;
    }

     //invetory
    .box-item .item-img {
        height: 110px;
    }
    .banner-inventory{
        height: 80px;
    }
}

@media (min-width: 360px) {
    .item-event,
    .banner-event {
        height: 125px;
    }

    //invetory
    .box-item .item-img {
        height: 120px;
    }
    .banner-inventory{
        height: 90px;
    }
}

@media (min-width: 375px) {
    .item-event,
    .banner-event {
        height: 135px;
    }

    .box-item .item-img {
        height: 130px;
    }
    .banner-inventory{
        height: 95px;
    }
}

@media (min-width: 390px) {
    .item-event,
    .banner-event {
        height: 140px;
    }

    .box-item .item-img {
        height: 140px;
    }
    .banner-inventory{
        height: 100px;
    }
}

@media (min-width: 430px) {
    .item-event,
    .banner-event {
        height: 150px;
    }

    .box-item .item-img {
        height: 150px;
    }
    .banner-inventory{
        height: 105px;
    }
}

//app tele desktop
@media (min-width: 460px) {
    .item-event,
    .banner-event {
        height: 160px;
    }

    .box-item .item-img {
        height: 160px;
    }
    .banner-inventory{
        height: 110px;
    }
}

@media (min-width: 490px) {
    .item-event,
    .banner-event {
        height: 180px;
    }

    .box-item .item-img {
        height: 170px;
    }
    .banner-inventory{
        height: 120px;
    }
}

//tele web pc
@media (min-width: 560px) {
    .item-event,
    .banner-event {
        height: 200px;
    }

    .box-item .item-img {
        height: 180px;
    }
    .banner-inventory{
        height: 130px;
    }
}

@media (min-width: 768px) {
    .item-event,
    .banner-event {
        height: 295px;
    }

    .box-item .item-img {
        height: 215px;
    }
    .banner-inventory{
        height: 180px;
    }
}

@media (min-width: 1024px) {
    .item-event,
    .banner-event {
        height: 350px;
    }

    .box-item .item-img {
        height: 300px;
    }
    .banner-inventory{
        height: 240px;
    }
}
