@media (min-width: 320px) {
    .item-event,
    .banner-event {
        height: 115px;
    }
}

@media (min-width: 360px) {
    .item-event,
    .banner-event {
        height: 125px;
    }
}

@media (min-width: 375px) {
    .item-event,
    .banner-event {
        height: 135px;
    }
}

@media (min-width: 390px) {
    .item-event,
    .banner-event {
        height: 140px;
    }
}

@media (min-width: 430px) {
    .item-event,
    .banner-event {
        height: 150px;
    }
}

//app tele desktop
@media (min-width: 460px) {
    .item-event,
    .banner-event {
        height: 160px;
    }
}

@media (min-width: 490px) {
    .item-event,
    .banner-event {
        height: 180px;
    }
}

//tele web pc
@media (min-width: 560px) {
    .item-event,
    .banner-event {
        height: 200px;
    }
}

@media (min-width: 768px) {
    .item-event,
    .banner-event {
        height: 295px;
    }
}

@media (min-width: 1024px) {
    .item-event,
    .banner-event {
        height: 350px;
    }
}
