$primary-color: #ffe500;
@font-face {
    font-family: "GAMERIA";
    src: url("../../public/assets/fonts/GAMERIA.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BANGOPRO";
    src: url("../../public/assets/fonts/BangoPro.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NUNITO";
    src: url("../../public/assets/fonts/Nunito-Variable.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "NUNITO", "BANGOPRO", sans-serif;
}

.f-nunito {
    font-family: "NUNITO", sans-serif;
    font-weight: 800;
}
.f-bangopro {
    font-family: "BANGOPRO", sans-serif;
}

button {
    font-family: "NUNITO", sans-serif;
    outline: 0px;
    margin: 0px;
    background: #ffa53a !important;
    background-color: #ffa53a;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    color: inherit;
    // text-transform: uppercase;
    min-width: 64px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    transition: all 0.25s ease-in 0s;
    height: 16px;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    // -webkit-text-fill-color: unset;
    // -webkit-text-stroke: 1px rgb(139, 129, 116);
    border: none;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    padding: 14px 22px;
    gap: 8px;
}

button:hover {
    background: rgb(255, 184, 77);
    border-color: rgb(226, 154, 54);
    box-shadow: rgb(163, 112, 41) 0px 6px 0px;
    // -webkit-text-fill-color: unset;
    // -webkit-text-stroke: 1px rgb(163, 112, 41);
}

button span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    background: linear-gradient(
            rgb(246, 245, 244) 0%,
            rgb(208, 204, 200) 115.91%
        )
        text;
}

.text-outline-black {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}

.t-primary-color {
    color: $primary-color;
}

.icon-svg {
    width: 16px !important;
}

* {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

*::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
