.shine {
    position: absolute;
    background: #fff;
    transform: rotate(15deg);
    animation: shine 3s infinite;
}

.shine:before,
.shine:after {
    content: "";
    display: block;
    position: absolute;
}

.shine:after {
    background: #fff;
    transform: rotate(45deg);
    box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.75);
}

@keyframes shine {
    0% {
        opacity: 0;
    }

    34% {
        opacity: 0;
        transform: rotate(15deg);
    }

    40% {
        opacity: 0.6;
        transform: rotate(620deg);
    }

    48%,
    100% {
        opacity: 0;
        transform: rotate(635deg);
    }
}

.shine-1 {
    top: 55%;
    left: 15%;
    width: 1px;
    height: 18px;
}

.shine-1:after {
    top: 6px;
    left: -2px;
    width: 5px;
    height: 5px;
}

.shine-2 {
    top: 60%;
    left: 80%;
    width: 1px;
    height: 18px;
    animation-delay: 0.5s;
}

.shine-2:after {
    top: 6px;
    left: -2px;
    width: 2px;
    height: 2px;
}

.shine-3 {
    top: 10%;
    left: 15%;
    width: 1px;
    height: 16px;
    animation-delay: 1s;
}

.shine-3:after {
    top: 6px;
    left: -2px;
    width: 2px;
    height: 2px;
}

.shine-4 {
    top: 5%;
    left: 75%;
    width: 1px;
    height: 16px;
    animation-delay: 1s;
}

.shine-4:after {
    top: 6px;
    left: -2px;
    width: 5px;
    height: 5px;
}

.shine-A {
    position: absolute;
    background: #e280f8;
    transform: rotate(15deg);
    animation: shine 3s infinite;
}

.shine-A:before,
.shine-A:after {
    content: "";
    display: block;
    position: absolute;
}

.shine-A:after {
    background: #e280f8;
    transform: rotate(45deg);
    box-shadow: 0 0 8px 5px #e280f8;
}


