@media (min-width: 320px) {
    .banner-inventory {
        height: 80px;
    }

    // .inventory-detail {
    //     height: calc(100% - 150px);
    // }
}

@media (min-width: 360px) {
    .banner-inventory {
        height: 90px;
    }

    // .inventory-detail {
    //     height: calc(100% - 160px);
    // }
}

@media (min-width: 375px) {
    .banner-inventory {
        height: 95px;
    }

    // .inventory-detail {
    //     height: calc(100% - 165px);
    // }
}

@media (min-width: 390px) {
    .banner-inventory {
        height: 100px;
    }

    // .inventory-detail {
    //     height: calc(100% - 170px);
    // }
}

@media (min-width: 430px) {
    .banner-inventory {
        height: 105px;
    }

    // .inventory-detail {
    //     height: calc(100% - 175px);
    // }
}

//app tele desktop
@media (min-width: 460px) {
    .banner-inventory {
        height: 110px;
    }

    // .inventory-detail {
    //     height: calc(100% - 180px);
    // }
}

@media (min-width: 490px) {
    .banner-inventory {
        height: 120px;
    }

    // .inventory-detail {
    //     height: calc(100% - 190px);
    // }
}

//tele web pc
@media (min-width: 560px) {
    .banner-inventory {
        height: 130px;
    }

    // .inventory-detail {
    //     height: calc(100% - 200px);
    // }
}

@media (min-width: 768px) {
    .banner-inventory {
        height: 180px;
    }

    // .inventory-detail {
    //     height: calc(100% - 250px);
    // }
}

@media (min-width: 1024px) {
    .banner-inventory {
        height: 240px;
    }

    // .inventory-detail {
    //     height: calc(100% - 310px);
    // }
}
